{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Bienvenue dans votre Agence !</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores, facere iusto odit optio sed
                voluptate? Autem deserunt distinctio iure laudantium, minus nam, nemo nihil nobis nostrum praesentium quisquam
                rerum.
            </p>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Les derniers biens publiés !</h2>
        <hr>
        <div class="row">
            {% for property in properties %}
                <div class="col-md-4 col-lg-3 mb-3">
                    <div class="card h-100 ">
                        {% if property.filename %}
                            <a href="{{ path('property.show', {id: property.id, slug :property.slug}) }}">
                                <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="image du bien" class="card-img-top" >
                            </a>
                        {% else %}
                            <a href="{{ path('property.show', {id: property.id, slug :property.slug}) }}">
                                <img src="{{ '/images/properties/empty.jpg' | imagine_filter('thumb') }}" alt="image du bien" class="card-img-top" >
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                    {{ property.title }}
                            </h5>
                            <p class="card-text">
                                {{ property.rooms }} pièces - {{ property.surface }} m²
                            </p>
                            <p class="card-text">
                                {{ property.city }} ({{ property.postalCode }})
                            </p>
                            <div style="font-weight: bold; font-size: 1.5rem;">
                                {{ property.formatedPrice }} €
                            </div><br>
                            <a  href="{{ path('property.show', {id: property.id, slug :property.slug}) }}" class="btn btn-primary ">Voir le bien</a>
                        </div>
                    </div>
                </div>

            {% else %}
                Aucun bien de publié pour le moment.
            {% endfor %}
        </div>
    </div>

{% endblock %}
